flows_vivoserver.json
[{"id":"6f64f264.4c289c","type":"tab","label":"Smart Home","disabled":false,"info":""},{"id":"68a21f36.432ee8","type":"tab","label":"Net-scan","disabled":false,"info":""},{"id":"f90387de.a0616","type":"tab","label":"Login","disabled":false,"info":""},{"id":"2e9bdc0e.a39cd4","type":"tab","label":"VIVO Dashboard","disabled":false,"info":""},{"id":"3ae8de83.327c1a","type":"tab","label":"Vivo_Home_media"},{"id":"707aeae9.2f3ddc","type":"tab","label":"Mutfak","disabled":false,"info":""},{"id":"bb7ece05.5f24a","type":"tab","label":"Giriş","disabled":false,"info":""},{"id":"cb88f36b.dbecd8","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"dcd697f2.21c25","type":"tab","label":"Camera Control","disabled":false,"info":""},{"id":"db33fcaa.611d88","type":"tab","label":"akvaryum_post_service"},{"id":"6185cdf0.bf4b6c","type":"tab","label":"akvaryum_statistics","disabled":false},{"id":"2dc9bc0b.3ca3bc","type":"tab","label":"Way to Office ETA","disabled":false,"info":""},{"id":"91e866c7.23be38","type":"tab","label":"Flow 1"},{"id":"7c48a4a8.213264","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"75ca123e.357ab4","type":"subflow","name":"Subflow 1","info":"","in":[{"x":-10,"y":373,"wires":[{"id":"b55450a.03270b"}]}],"out":[{"x":475,"y":376,"wires":[{"id":"198678d0.e2f9ff","port":0}]}]},{"id":"324993be.bf1f34","type":"subflow","name":"Execute Shell Script","info":"","in":[{"x":100,"y":200,"wires":[{"id":"c79a4f5.ea05bb"}]}],"out":[{"x":960,"y":280,"wires":[{"id":"7d5f6d85.d1d3cc","port":0}]},{"x":960,"y":340,"wires":[{"id":"7d5f6d85.d1d3cc","port":1}]},{"x":960,"y":400,"wires":[{"id":"7d5f6d85.d1d3cc","port":2}]}]},{"id":"45cb86b8.930cb8","type":"MySQLdatabase","z":"3ae8de83.327c1a","host":"127.0.0.1","port":"3306","db":"homeautomation","tz":""},{"id":"21f0e86a.0159c","type":"MySQLdatabase","z":"db33fcaa.611d88","host":"127.0.0.1","port":"3306","db":"akvaryum","tz":""},{"id":"6d069e2a.3620f8","type":"ui_group","z":"","name":"Temperature","tab":"625ea350.e99a54","order":1,"disp":false,"width":"6"},{"id":"625ea350.e99a54","type":"ui_tab","z":"","name":"AquariumControl","icon":"dashboard","order":3},{"id":"e03d53f.139c9b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7d833e9c.6c4c18","type":"ui_group","z":"","name":"Controls","tab":"625ea350.e99a54","order":4,"disp":false,"width":"6","collapse":false},{"id":"86608d60.bf664","type":"ui_group","z":"","name":"Report","tab":"b679c110.e97eb8","order":1,"disp":false,"width":"18","collapse":false},{"id":"b679c110.e97eb8","type":"ui_tab","z":"","name":"Aquarium Reports","icon":"dashboard","order":4},{"id":"c678a0.ad331f6","type":"MySQLdatabase","z":"6185cdf0.bf4b6c","host":"127.0.0.1","port":"3306","db":"akvaryum","tz":""},{"id":"49b17ca4.7f5cf4","type":"ui_group","z":"","name":"Log","tab":"625ea350.e99a54","order":5,"disp":false,"width":"6","collapse":false},{"id":"bdde13b2.1262e","type":"ui_tab","z":"","name":"Home Security","icon":"dashboard","order":5},{"id":"47575e9f.4e8f88","type":"ui_group","z":"","name":"Motion Log","tab":"bdde13b2.1262e","order":2,"disp":false,"width":"6","collapse":false},{"id":"fb400294.d5b6d","type":"ui_group","z":"","name":"Monitoring","tab":"bdde13b2.1262e","order":1,"disp":false,"width":"6","collapse":false},{"id":"147e2315.ca151d","type":"ui_tab","z":"","name":"My Home","icon":"dashboard","order":6},{"id":"f142677d.43e258","type":"ui_group","z":"","name":"Mutfak","tab":"147e2315.ca151d","order":3,"disp":false,"width":"6","collapse":false},{"id":"9c8f6a39.4f654","type":"ui_group","z":"","name":"Giriş","tab":"147e2315.ca151d","order":4,"disp":false,"width":"10","collapse":false},{"id":"47290a0a.f6e77c","type":"ui_tab","z":"","name":"VIVO","icon":"dashboard","order":7},{"id":"1b122d53.d52033","type":"ui_group","z":"","name":"Disk Info","tab":"47290a0a.f6e77c","order":1,"disp":false,"width":"6","collapse":false},{"id":"582d6a56.b96174","type":"ui_group","z":"","name":"Network Info","tab":"47290a0a.f6e77c","order":5,"disp":false,"width":"6","collapse":false},{"id":"bf271f52.05f758","type":"ui_group","z":"","name":"System Info","tab":"47290a0a.f6e77c","order":2,"disp":false,"width":"6","collapse":false},{"id":"adb16e71.efa118","type":"ui_group","z":"","name":"CPU 1-2 usage","tab":"47290a0a.f6e77c","order":3,"disp":false,"width":"6","collapse":false},{"id":"864d1051.6dbfc","type":"ui_group","z":"","name":"CPU 3-4 Usage","tab":"47290a0a.f6e77c","order":4,"disp":false,"width":"6","collapse":false},{"id":"13f90f79.834d11","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"homeautomation","tz":""},{"id":"e0e7bd05.c37198","type":"ui_group","z":"","name":"Condition","tab":"147e2315.ca151d","order":3,"disp":false,"width":"6","collapse":false},{"id":"4558d54b.31c444","type":"slack-credentials","z":"","node_name":"tglrhome slack","reconnect":true,"mark":true},{"id":"5c0ca565.c7a274","type":"ui_tab","z":"","name":"Login","icon":"dashboard","order":1},{"id":"552a36a.7588e48","type":"ui_group","z":"","name":"Login","tab":"5c0ca565.c7a274","order":1,"disp":true,"width":"6"},{"id":"f957483c.3ac1b8","type":"ui_tab","z":"","name":"Main","icon":"dashboard","order":2},{"id":"44600724.dbc2","type":"ui_group","z":"","name":"Main","tab":"f957483c.3ac1b8","order":1,"disp":true,"width":"6"},{"id":"65b209d2.d2731","type":"debug","z":"3ae8de83.327c1a","name":"debug1","active":true,"console":"false","complete":"payload","x":915.8298797607422,"y":141.91668701171875,"wires":[]},{"id":"81042903.486de","type":"mysql","z":"3ae8de83.327c1a","mydb":"45cb86b8.930cb8","name":"db","x":432.89573669433594,"y":224.88888549804688,"wires":[["e386e1c5.313938"]]},{"id":"3176e752.16e0d","type":"exec","z":"3ae8de83.327c1a","command":"\"C:\\Program Files (x86)\\GRETECH\\GomPlayer\\GOM.EXE\"","addpay":true,"append":"","useSpawn":"","name":"start movie","x":745.8264312744141,"y":373.951416015625,"wires":[["2a0d7c8.9410b04"],[],[]]},{"id":"3082f2bf.58a0c6","type":"function","z":"3ae8de83.327c1a","name":"","func":"msg.topic = \"SELECT path from movies where name='Back to the future';\";\nreturn msg;","outputs":1,"noerr":0,"x":252.82640075683594,"y":167.76736450195312,"wires":[["81042903.486de"]]},{"id":"54e07570.e237f4","type":"function","z":"3ae8de83.327c1a","name":"","func":"path = msg.payload.substring(9);\nnewMsg = { payload: path };\nreturn newMsg;","outputs":1,"noerr":0,"x":712.8298797607422,"y":204.44097900390625,"wires":[["65b209d2.d2731","3176e752.16e0d"]]},{"id":"2a0d7c8.9410b04","type":"debug","z":"3ae8de83.327c1a","name":"debug2","active":true,"console":"false","complete":"payload","x":882.8957977294922,"y":289.8888854980469,"wires":[]},{"id":"e386e1c5.313938","type":"json","z":"3ae8de83.327c1a","name":"","x":574.8333587646484,"y":194.7152862548828,"wires":[["54e07570.e237f4"]]},{"id":"78c7e4af.66dbfc","type":"mysql","z":"db33fcaa.611d88","mydb":"21f0e86a.0159c","name":"db","x":979.1904296875,"y":626.1665954589844,"wires":[["cbbf281e.ee84e","5cb1edc1.469f84"]]},{"id":"a2f1e75e.62fd38","type":"function","z":"db33fcaa.611d88","name":"update data","func":"msg1 = {payload:msg.payload.temp};\nmsg2 ={payload:(100*(52-(msg.payload.waterlvl*3.25)))/45.5};\nmsg3 = {topic:\"update  current_values set data_value='\"+msg.payload.temp+\"', lastupdate=NOW() where data_code='temp';Insert Into data_log (data_code,data_value,lastupdate) values ('temp','\"+msg.payload.temp+\"',now());update current_values set data_value='\"+(16-msg.payload.waterlvl)+\"', lastupdate=NOW() where data_code='waterlvl';Insert Into data_log (data_code,data_value,lastupdate) values ('waterlvl','\"+msg.payload.waterlvl+\"',now());update current_values set data_value='\"+msg.payload.ledstat+\"', lastupdate=NOW() where data_code='ledstat';Insert Into data_log (data_code,data_value,lastupdate) values ('ledstat','\"+msg.payload.ledstat+\"',now());update current_values set data_value='\"+msg.payload.role1+\"', lastupdate=NOW() where data_code='role1';Insert Into data_log (data_code,data_value,lastupdate) values ('role1','\"+msg.payload.role1+\"',now());update current_values set data_value='\"+msg.payload.role2+\"', lastupdate=NOW() where data_code='role2';Insert Into data_log (data_code,data_value,lastupdate) values ('role2','\"+msg.payload.role2+\"',now());update current_values set data_value='\"+msg.payload.role3+\"', lastupdate=NOW() where data_code='role3';Insert Into data_log (data_code,data_value,lastupdate) values ('role2','\"+msg.payload.role3+\"',now());update current_values set data_value='\"+msg.payload.role4+\"', lastupdate=NOW() where data_code='role4';Insert Into data_log (data_code,data_value,lastupdate) values ('role2','\"+msg.payload.role4+\"',now());update current_values set data_value='\"+msg.payload.role5+\"', lastupdate=NOW() where data_code='role5';Insert Into data_log (data_code,data_value,lastupdate) values ('role2','\"+msg.payload.role5+\"',now());update current_values set data_value='\"+msg.payload.role6+\"', lastupdate=NOW() where data_code='role6';Insert Into data_log (data_code,data_value,lastupdate) values ('role2','\"+msg.payload.role6+\"',now());update current_values set data_value='\"+msg.payload.role7+\"', lastupdate=NOW() where data_code='role7';Insert Into data_log (data_code,data_value,lastupdate) values ('role2','\"+msg.payload.role7+\"',now());update current_values set data_value='\"+msg.payload.role8+\"', lastupdate=NOW() where data_code='role8';Insert Into data_log (data_code,data_value,lastupdate) values ('role2','\"+msg.payload.role8+\"',now());\"};\nreturn [msg1,msg2,msg3];","outputs":"3","noerr":0,"x":695.9521484375,"y":618.6428527832031,"wires":[["af8a6aa8.faae7"],["c05bac8d.04f5a"],["78c7e4af.66dbfc"]]},{"id":"af8a6aa8.faae7","type":"ui_gauge","z":"db33fcaa.611d88","name":"Temperature","group":"6d069e2a.3620f8","order":3,"width":"6","height":"4","gtype":"gage","title":"Main Tank Temperature","label":"°C","format":"{{value}}","min":"21","max":"30","colors":["#ffff00","#80ff80","#ca3838"],"seg1":"","seg2":"","x":1316.33251953125,"y":442.1732482910156,"wires":[]},{"id":"c05bac8d.04f5a","type":"ui_gauge","z":"db33fcaa.611d88","name":"Water Level","group":"6d069e2a.3620f8","order":4,"width":"6","height":"4","gtype":"wave","title":"Spare Water Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1317.3806762695312,"y":496.2618713378906,"wires":[]},{"id":"8a4a07ff.6ecff8","type":"http in","z":"dcd697f2.21c25","name":"motion detect","url":"/motion","method":"get","upload":false,"swaggerDoc":"","x":99,"y":158,"wires":[["b5552bf9.8ecdd","2439737c.cff684","638f350b.cbe754"]]},{"id":"b5552bf9.8ecdd","type":"http response","z":"dcd697f2.21c25","name":"","x":566,"y":161,"wires":[]},{"id":"a154622.74386a","type":"mysql","z":"6185cdf0.bf4b6c","mydb":"c678a0.ad331f6","name":"db","x":1017,"y":237,"wires":[["d0157d8b.8b7688","c8f8432f.2f40c8"]]},{"id":"d0157d8b.8b7688","type":"function","z":"6185cdf0.bf4b6c","name":"","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \nvar datetmp = (Date.parse(msg.payload[keys[i]].dateval));\n  result.push([datetmp,msg.payload[keys[i]].tempval]);\n  \n}\n// At this point, result is an array of the values you want\n// You can either return it directly with:\nmsg.payload = [{ key: flow.get ('reportname'), values : result}];\nmsg.topic = flow.get ('reportname');\n// or, if you want a string representation of the values as a\n// comma-separated list:\n//    msg.payload = result.join(\", \");\n\nreturn msg;","outputs":1,"noerr":0,"x":1149,"y":233,"wires":[["9d85f3e.952559"]]},{"id":"9d85f3e.952559","type":"ui_chart","z":"6185cdf0.bf4b6c","name":"","group":"86608d60.bf664","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"M-D HH:mm","interpolate":"linear","nodata":"Rapor Hazırlanıyor","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1288,"y":230,"wires":[[],[]]},{"id":"48c38793.d6ddb","type":"http in","z":"db33fcaa.611d88","name":"","url":"/register","method":"post","swaggerDoc":"","x":474.16644287109375,"y":751.1071166992188,"wires":[["d91b6cad.15d098","e309f2ff.e6bab8","ffb60429.919598"]]},{"id":"e309f2ff.e6bab8","type":"http response","z":"db33fcaa.611d88","name":"","x":961.8689575195312,"y":748.4762878417969,"wires":[]},{"id":"d91b6cad.15d098","type":"function","z":"db33fcaa.611d88","name":"","func":"msg = {topic:\"update  current_values set data_value='\"+msg.payload.akvaryum+\"', lastupdate=NOW() where data_code='IP';Insert Into data_log (data_code,data_value,lastupdate) values ('IP','\"+msg.payload.akvaryum+\"',now());\"};\nreturn msg;","outputs":1,"noerr":0,"x":762.8091430664062,"y":705.5476379394531,"wires":[["78c7e4af.66dbfc"]]},{"id":"1709065b.2cfcaa","type":"ui_dropdown","z":"6185cdf0.bf4b6c","name":"","label":"","place":"Select option","group":"86608d60.bf664","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"Temperature","value":"temp","type":"str"},{"label":"Water Level","value":"waterlvl","type":"str"}],"payload":"","topic":"report","x":336,"y":194,"wires":[["6180daec.f9e8b4"]]},{"id":"ad962f36.7ba28","type":"ui_date_picker","z":"6185cdf0.bf4b6c","name":"","label":"Start Date","group":"86608d60.bf664","order":0,"width":0,"height":0,"passthru":true,"topic":"startdate","x":327,"y":247,"wires":[["10ce244a.4871e4"]]},{"id":"88d5e879.723558","type":"ui_date_picker","z":"6185cdf0.bf4b6c","name":"","label":"End Date","group":"86608d60.bf664","order":0,"width":0,"height":0,"passthru":true,"topic":"enddate","x":322,"y":302,"wires":[["6419c13e.16c808"]]},{"id":"de407a0b.0bdb18","type":"function","z":"6185cdf0.bf4b6c","name":"","func":"msg = {topic:\"select lastupdate as dateval,ROUND(AVG(data_value),2)as tempval from data_log where data_code='\"+flow.get('report')+\"'  and lastupdate>'\"+flow.get('startdate')+\" 00:00:00' and lastupdate<'\"+flow.get('enddate')+\" 23:59:59' group by day(lastupdate),hour(lastupdate) order by lastupdate asc\"};    \nmsg.payload=\"\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":881,"y":243,"wires":[["a154622.74386a"]]},{"id":"a1ad6dcd.a69ec","type":"http request","z":"3ae8de83.327c1a","name":"","method":"GET","ret":"txt","url":"http://192.168.1.102:81","tls":"","x":410,"y":480,"wires":[["f5ffe1a8.b9eb5"]]},{"id":"fa5b32e1.65718","type":"debug","z":"3ae8de83.327c1a","name":"","active":true,"console":"false","complete":"false","x":810,"y":460,"wires":[]},{"id":"dacbb1f9.fbde8","type":"inject","z":"3ae8de83.327c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":191.38888549804688,"y":416.5555725097656,"wires":[["a1ad6dcd.a69ec"]]},{"id":"f5ffe1a8.b9eb5","type":"function","z":"3ae8de83.327c1a","name":"","func":"var resp =msg.payload;\nif (resp.indexOf(\"Error\")===0)\n{\n    msg.payload=\"not online\";\n}\nelse {\n    msg.payload=\"online\";\n}\n//msg.payload=resp.indexOf(\"Error\");\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":520,"wires":[["fa5b32e1.65718"]]},{"id":"fd39b64.2b06948","type":"http request","z":"3ae8de83.327c1a","name":"","method":"GET","ret":"txt","url":"http://192.168.1.104:81","tls":"","x":410,"y":540,"wires":[["f5ffe1a8.b9eb5"]]},{"id":"301a38d8.d600f8","type":"inject","z":"3ae8de83.327c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":540,"wires":[["fd39b64.2b06948"]]},{"id":"cbbf281e.ee84e","type":"trigger","z":"db33fcaa.611d88","op1":"green","op2":"red","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","name":"","x":1142.8570556640625,"y":620.0000305175781,"wires":[["f68bffab.00a58"]]},{"id":"f68bffab.00a58","type":"ui_template","z":"db33fcaa.611d88","group":"6d069e2a.3620f8","name":"red","order":2,"width":"6","height":"1","format":"<!DOCTYPE html>\n <button type=\"button\" style=\"border: none;border-radius: 12px;background-color:{{msg.payload}}\">Arduino Status</button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1301.3570251464844,"y":619.8332824707031,"wires":[[]]},{"id":"441b6c2d.cf083c","type":"inject","z":"6185cdf0.bf4b6c","name":"","topic":"","payload":"temp","payloadType":"str","repeat":"","crontab":"","once":true,"x":160,"y":195,"wires":[["1709065b.2cfcaa"]]},{"id":"7fb223db.587f5c","type":"inject","z":"6185cdf0.bf4b6c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":144,"y":248,"wires":[["ad962f36.7ba28"]]},{"id":"8da58b2b.9d5fa","type":"inject","z":"6185cdf0.bf4b6c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":145,"y":305,"wires":[["88d5e879.723558"]]},{"id":"6180daec.f9e8b4","type":"function","z":"6185cdf0.bf4b6c","name":"","func":"flow.set ('report',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":193,"wires":[["de407a0b.0bdb18"]]},{"id":"7ae796e1.0fa3d8","type":"function","z":"6185cdf0.bf4b6c","name":"","func":"flow.set ('startdate',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":708,"y":246,"wires":[["de407a0b.0bdb18"]]},{"id":"e7299ecc.c39098","type":"function","z":"6185cdf0.bf4b6c","name":"","func":"flow.set ('enddate',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":709,"y":299,"wires":[["de407a0b.0bdb18"]]},{"id":"41829479.2f63a4","type":"http request","z":"dcd697f2.21c25","name":"","method":"GET","ret":"txt","url":"http://192.168.1.101:81","tls":"","x":372,"y":421,"wires":[["48b1be30.59a608"]]},{"id":"c36e2286.a77938","type":"inject","z":"dcd697f2.21c25","name":"Camera Ping Timer","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"x":138,"y":686,"wires":[["41829479.2f63a4","10550b03.721b0d","e2ebae3d.7dd28","22f5ff47.9018e","55f5ec7a.16ea74","6a9d1bdb.b1de5c"]]},{"id":"48b1be30.59a608","type":"switch","z":"dcd697f2.21c25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"html","vt":"str"},{"t":"cont","v":"Error","vt":"str"}],"checkall":"false","outputs":2,"x":514,"y":420,"wires":[["3a5ae31e.f37444"],["d7543ec0.21672"]]},{"id":"82e511d0.86b8d","type":"function","z":"dcd697f2.21c25","name":"Dashboard Log","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\nvar data = {topic:\"\",payload:\"\"};\ndata.topic= msg.topic;\ndata.payload=msg.payload;\n\ndashboardLog.push(data);\nif (dashboardLog.length > 20){\n    // Delete oldest message if &gt; 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\n//msg = {};\nmsg.payload = dashboardLog;\nreturn msg;","outputs":1,"noerr":0,"x":677,"y":219,"wires":[["a4fd3fbd.37c1"]]},{"id":"a4fd3fbd.37c1","type":"ui_template","z":"dcd697f2.21c25","group":"47575e9f.4e8f88","name":"Dashoard Log","order":2,"width":"6","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":912,"y":219,"wires":[[]]},{"id":"d6513ec3.7aa28","type":"ui_template","z":"dcd697f2.21c25","group":"fb400294.d5b6d","name":"Status","order":2,"width":"6","height":"1","format":"<!DOCTYPE html>\n <button type=\"button\" style=\"border: none;border-radius: 12px;background-color:{{msg.payload}}\">Melis Oda</button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":757,"y":417,"wires":[[]]},{"id":"3a5ae31e.f37444","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":635,"y":439,"wires":[["d6513ec3.7aa28"]]},{"id":"d7543ec0.21672","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":635,"y":397,"wires":[["d6513ec3.7aa28"]]},{"id":"10550b03.721b0d","type":"http request","z":"dcd697f2.21c25","name":"","method":"GET","ret":"txt","url":"http://192.168.1.102:81","tls":"","x":363,"y":532,"wires":[["b92ac955.63a768"]]},{"id":"b92ac955.63a768","type":"switch","z":"dcd697f2.21c25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"html","vt":"str"},{"t":"cont","v":"Error","vt":"str"}],"checkall":"false","outputs":2,"x":508,"y":531,"wires":[["74558185.388738"],["738ca3f7.894a04"]]},{"id":"536bfc8.07cfa84","type":"ui_template","z":"dcd697f2.21c25","group":"fb400294.d5b6d","name":"Status","order":3,"width":"6","height":"1","format":"<!DOCTYPE html>\n <button type=\"button\" style=\"border: none;border-radius: 12px;background-color:{{msg.payload}}\">Balkon</button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":764,"y":535,"wires":[[]]},{"id":"74558185.388738","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":634,"y":555,"wires":[["536bfc8.07cfa84"]]},{"id":"738ca3f7.894a04","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":633,"y":516,"wires":[["536bfc8.07cfa84"]]},{"id":"e2ebae3d.7dd28","type":"http request","z":"dcd697f2.21c25","name":"","method":"GET","ret":"txt","url":"http://192.168.1.103:81","tls":"","x":366,"y":640,"wires":[["86775760.249078"]]},{"id":"86775760.249078","type":"switch","z":"dcd697f2.21c25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"html","vt":"str"},{"t":"cont","v":"Error","vt":"str"}],"checkall":"false","outputs":2,"x":511,"y":639,"wires":[["c272b659.c49208"],["cfb6f8fd.c371a8"]]},{"id":"1665f6be.e5e701","type":"ui_template","z":"dcd697f2.21c25","group":"fb400294.d5b6d","name":"Status","order":4,"width":"6","height":"1","format":"<!DOCTYPE html>\n <button type=\"button\" style=\"border: none;border-radius: 12px;background-color:{{msg.payload}}\">Salon</button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":767,"y":643,"wires":[[]]},{"id":"c272b659.c49208","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":637,"y":663,"wires":[["1665f6be.e5e701"]]},{"id":"cfb6f8fd.c371a8","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":636,"y":624,"wires":[["1665f6be.e5e701"]]},{"id":"22f5ff47.9018e","type":"http request","z":"dcd697f2.21c25","name":"","method":"GET","ret":"txt","url":"http://192.168.1.104:81","tls":"","x":362,"y":744,"wires":[["8baeec87.307b98"]]},{"id":"8baeec87.307b98","type":"switch","z":"dcd697f2.21c25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"html","vt":"str"},{"t":"cont","v":"Error","vt":"str"}],"checkall":"false","outputs":2,"x":507,"y":743,"wires":[["7ff88737.eae0f8"],["87d8e407.864cd"]]},{"id":"cf91664e.c4a8c","type":"ui_template","z":"dcd697f2.21c25","group":"fb400294.d5b6d","name":"Status","order":5,"width":"6","height":"1","format":"<!DOCTYPE html>\n <button type=\"button\" style=\"border: none;border-radius: 12px;background-color:{{msg.payload}}\">Çalışma Odası</button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":763,"y":747,"wires":[[]]},{"id":"7ff88737.eae0f8","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":633,"y":767,"wires":[["cf91664e.c4a8c"]]},{"id":"87d8e407.864cd","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":632,"y":728,"wires":[["cf91664e.c4a8c"]]},{"id":"55f5ec7a.16ea74","type":"http request","z":"dcd697f2.21c25","name":"","method":"GET","ret":"txt","url":"http://192.168.1.105:81","tls":"","x":366,"y":847,"wires":[["9ce892a3.771818"]]},{"id":"9ce892a3.771818","type":"switch","z":"dcd697f2.21c25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"html","vt":"str"},{"t":"cont","v":"Error","vt":"str"}],"checkall":"false","outputs":2,"x":511,"y":846,"wires":[["11491a93.41716d"],["ccc7353d.76c46"]]},{"id":"9ddfa8e.1fe6158","type":"ui_template","z":"dcd697f2.21c25","group":"fb400294.d5b6d","name":"Status","order":6,"width":"6","height":"1","format":"<!DOCTYPE html>\n <button type=\"button\" style=\"border: none;border-radius: 12px;background-color:{{msg.payload}}\">Mutfak</button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":767,"y":850,"wires":[[]]},{"id":"11491a93.41716d","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":637,"y":870,"wires":[["9ddfa8e.1fe6158"]]},{"id":"ccc7353d.76c46","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":636,"y":831,"wires":[["9ddfa8e.1fe6158"]]},{"id":"6a9d1bdb.b1de5c","type":"http request","z":"dcd697f2.21c25","name":"","method":"GET","ret":"txt","url":"http://192.168.1.106:81","tls":"","x":366,"y":942,"wires":[["7dddb7b8.e63ae8"]]},{"id":"7dddb7b8.e63ae8","type":"switch","z":"dcd697f2.21c25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"html","vt":"str"},{"t":"cont","v":"Error","vt":"str"}],"checkall":"false","outputs":2,"x":511,"y":941,"wires":[["2e16223c.befbd6"],["7446d983.5e66e8"]]},{"id":"9265cfd5.5feda8","type":"ui_template","z":"dcd697f2.21c25","group":"fb400294.d5b6d","name":"Status","order":7,"width":"6","height":"1","format":"<!DOCTYPE html>\n <button type=\"button\" style=\"border: none;border-radius: 12px;background-color:{{msg.payload}}\">Giriş</button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":767,"y":945,"wires":[[]]},{"id":"2e16223c.befbd6","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":637,"y":965,"wires":[["9265cfd5.5feda8"]]},{"id":"7446d983.5e66e8","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":636,"y":926,"wires":[["9265cfd5.5feda8"]]},{"id":"2439737c.cff684","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.topic=msg.payload;\nmsg.payload=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":196,"wires":[["ea0c608.760202"]]},{"id":"198678d0.e2f9ff","type":"function","z":"75ca123e.357ab4","name":"parse","func":"\nvar city = msg.payload.query.results.channel.location.city;\nvar country = msg.payload.query.results.channel.location.country;\nvar forecast = msg.payload.query.results.channel.item.forecast;\n\nvar line1 = \"1:\"+city+\" (\"+country+\")\";\nvar line2 = \"2:\"+forecast[0].day+\": \"+forecast[0].text;\nvar line3 = \"3:\"+forecast[1].day+\": \"+forecast[1].text;\nvar line4 = \"4:\"+forecast[2].day+\": \"+forecast[2].text;\n\n//clear the screen and send the messages\nmsg.payload = \"clr:\";\nnode.send(msg);\nmsg.payload = line1;\nnode.send(msg);\nmsg.payload = line2;\nnode.send(msg);\nmsg.payload = line3;\nnode.send(msg);\nmsg.payload = line4;\nnode.send(msg);\n\n//return msg;","outputs":1,"noerr":0,"x":345,"y":376,"wires":[[]]},{"id":"b55450a.03270b","type":"http request","z":"75ca123e.357ab4","name":"yahoo weather","method":"GET","ret":"obj","url":"https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22paris%2C%20ak%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys","x":150,"y":373,"wires":[["198678d0.e2f9ff"]]},{"id":"b17857bf.6d4588","type":"http request","z":"cb88f36b.dbecd8","name":"Get weather from Yahoo","method":"GET","ret":"obj","url":"https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22ISTANBUL%2C%20ak%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys","tls":"","x":189,"y":126,"wires":[["cd55049f.195e88"]]},{"id":"cd55049f.195e88","type":"function","z":"cb88f36b.dbecd8","name":"Insert temperature to DB","func":"var temp = msg.payload.query.results.channel.item.condition.temp;\nmsg2 = {temperature:Math.round((temp-32)/1.8),weather:msg.payload.query.results.channel.item.condition.text};\nmsg1 = {topic:\"update home_environments set status='\"+\nMath.round((temp-32)/1.8)+\"',last_update=NOW() where zone='city' and device='sicaklik';\"};\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":267,"y":211.25,"wires":[["3c8723b8.bc17ec"],["ac97c48e.56975","8887dfda.ae2a5"]]},{"id":"3c8723b8.bc17ec","type":"mysql","z":"cb88f36b.dbecd8","mydb":"13f90f79.834d11","name":"db","x":541.25,"y":170.25006103515625,"wires":[[]]},{"id":"bf79f5ed.45b898","type":"inject","z":"cb88f36b.dbecd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":117,"y":80,"wires":[["b17857bf.6d4588"]]},{"id":"62a7baaa.e97a54","type":"http response","z":"6f64f264.4c289c","name":"","x":677.2500610351562,"y":80.25,"wires":[]},{"id":"6d07f1a1.c2738","type":"inject","z":"db33fcaa.611d88","name":"","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":true,"x":1135.214111328125,"y":562.2618408203125,"wires":[["f68bffab.00a58"]]},{"id":"26e13d60.04f822","type":"ui_template","z":"707aeae9.2f3ddc","group":"f142677d.43e258","name":"on","order":2,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#34495e\" ng-click=\"send({payload: 'Hello World'})\"> \n    On\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":352,"y":145,"wires":[[]]},{"id":"7d990e1.eab84f","type":"ui_template","z":"707aeae9.2f3ddc","group":"f142677d.43e258","name":"off","order":3,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#8e44ad\" ng-click=\"send({payload: 'Hello World'})\"> \n    Off\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":352,"y":192,"wires":[[]]},{"id":"55d40148.c59fa","type":"ui_template","z":"707aeae9.2f3ddc","group":"f142677d.43e258","name":"","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":361,"y":285,"wires":[[]]},{"id":"ac97c48e.56975","type":"debug","z":"cb88f36b.dbecd8","name":"","active":true,"console":"false","complete":"true","x":420,"y":449.75,"wires":[]},{"id":"8887dfda.ae2a5","type":"ui_template","z":"cb88f36b.dbecd8","group":"9c8f6a39.4f654","name":"blue","order":2,"width":"4","height":"2","format":"<!DOCTYPE html>\n<md-button class=\"filled smallfont rounded\" style=\"background-color:#2980b9\"> \n    Dış Sıcaklık {{msg.temperature}}°C <br/>\n    Hava Durumu {{msg.weather}}\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":544,"y":286,"wires":[[]]},{"id":"bedcd003.2d52d8","type":"inject","z":"2dc9bc0b.3ca3bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":155,"y":137,"wires":[["d19f8d33.e6942"]]},{"id":"d19f8d33.e6942","type":"http request","z":"2dc9bc0b.3ca3bc","name":"ETA to Tevfiks office","method":"GET","ret":"obj","url":"https://maps.googleapis.com/maps/api/directions/json?origin=41.1082346,29.0307568&destination=40.999801,29.1963206&key=AIzaSyCftAFXLY38GhOaCtEbAZDM8JCN1GOlrrc","tls":"","x":274,"y":249,"wires":[["d99d8435.588d3","e057d577.4f5e58","5f7b4e37.885408"]]},{"id":"d99d8435.588d3","type":"function","z":"2dc9bc0b.3ca3bc","name":"","func":"data = msg.payload.routes[0].legs[0].duration.text;\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":342,"wires":[["541f56a3.1d94"]]},{"id":"541f56a3.1d94","type":"debug","z":"2dc9bc0b.3ca3bc","name":"","active":true,"console":"false","complete":"false","x":622,"y":342,"wires":[]},{"id":"e057d577.4f5e58","type":"debug","z":"2dc9bc0b.3ca3bc","name":"","active":true,"console":"false","complete":"false","x":514,"y":165,"wires":[]},{"id":"5f7b4e37.885408","type":"function","z":"2dc9bc0b.3ca3bc","name":"","func":"data = msg.payload.routes[0].summary;\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":403,"wires":[["7ccc7e04.17def8"]]},{"id":"7ccc7e04.17def8","type":"debug","z":"2dc9bc0b.3ca3bc","name":"","active":true,"console":"false","complete":"false","x":620,"y":400,"wires":[]},{"id":"c8f8432f.2f40c8","type":"debug","z":"6185cdf0.bf4b6c","name":"","active":true,"console":"false","complete":"false","x":1208,"y":371,"wires":[]},{"id":"4464a68f.fe2578","type":"http in","z":"bb7ece05.5f24a","name":"","url":"/giris","method":"get","upload":false,"swaggerDoc":"","x":154.5714111328125,"y":319,"wires":[["888c9bc7.22846","9bd80934.c2b5c8"]]},{"id":"af64a2ea.9743d8","type":"http response","z":"bb7ece05.5f24a","name":"","statusCode":"","headers":{},"x":1316.2857666015625,"y":357.2856750488281,"wires":[]},{"id":"93257e83.3637e","type":"template","z":"bb7ece05.5f24a","name":"generate html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    .button_green {\n      display: inline-block;\n      padding: 15px 25px;\n      font-size: 24px;\n      cursor: pointer;\n      text-align: center;\n      text-decoration: none;\n      outline: none;\n      color: #fff;\n      background-color: #4CAF50;\n      border: none;\n      border-radius: 15px;\n      box-shadow: 0 9px #999;\n    }\n    .button_red {\n      display: inline-block;\n      padding: 15px 25px;\n      font-size: 24px;\n      cursor: pointer;\n      text-align: center;\n      text-decoration: none;\n      outline: none;\n      color: #fff;\n      background-color: #f81212;\n      border: none;\n      border-radius: 15px;\n      box-shadow: 0 9px #999;\n    \n    }\n\n    .button_green:active {\n      background-color: #3e8e41;\n      box-shadow: 0 5px #666;\n      transform: translateY(4px);\n    }\n    .button_red:active {\n      background-color: #de1a49;\n      box-shadow: 0 5px #666;\n      transform: translateY(4px);\n    }\n    .table {\n      border-spacing: 5px;\n      width:100%;\n    }\n  </style>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Made with Thimble</title>\n  <link rel=\"stylesheet\" href=\"style.css\">\n</head>\n<body>\n  <table class=\"table\" >\n  <tr>\n    <td><button class=\"button_red\">Çıkış </button></td>\n    <td>Tevfik Ofis</td>\n    <td>{{payload.waytotg}} </td>\n    <td>{{payload.durtotg}} </td>\n  </tr>\n  <tr> \n    <td> </td>\n    <td> </td>\n    <td> </td>\n  </tr>\n  <tr>\n    <td><button class=\"button_green\">Giriş </button></td>\n    <td>Asiye Ofis</td>\n    <td>{{payload.waytoag}} </td>\n    <td>{{payload.durtoag}} </td>\n  </tr>\n  </table>\n  \n  <br>\n  <br>\n\n</body>\n</html>","output":"str","x":1079.71435546875,"y":357.5712890625,"wires":[["af64a2ea.9743d8"]]},{"id":"b09de21c.f2653","type":"debug","z":"db33fcaa.611d88","name":"","active":true,"console":"false","complete":"payload","x":2504.6546848842077,"y":679.0951363699778,"wires":[]},{"id":"fa50d029.8a35a8","type":"function","z":"db33fcaa.611d88","name":"F:Set values","func":"var data=msg.payload.substring(4, 15);\nmsg.url = flow.get('akvaryumIP')+'/setvalues?'+msg.topic+\":\"+data;\nreturn msg;","outputs":1,"noerr":0,"x":2213.0474548339844,"y":801.4165649414062,"wires":[["89ea1ee1.4028c"]]},{"id":"89ea1ee1.4028c","type":"http request","z":"db33fcaa.611d88","name":"Set Values","method":"GET","ret":"txt","url":"","tls":"","x":2415.9046325683594,"y":798.5593872070312,"wires":[["b09de21c.f2653"]]},{"id":"4d1dcdf4.a66764","type":"ui_switch","z":"db33fcaa.611d88","name":"","label":"Motor1 On/Off","group":"7d833e9c.6c4c18","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"role4","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":1781.2618103027344,"y":793.988037109375,"wires":[["fa50d029.8a35a8"]]},{"id":"96aeda6c.1ba218","type":"ui_switch","z":"db33fcaa.611d88","name":"","label":"Role5 On/Off","group":"7d833e9c.6c4c18","order":7,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"role5","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":1772.5118103027344,"y":839.488037109375,"wires":[["fa50d029.8a35a8"]]},{"id":"6f9de9cd.b20f58","type":"ui_switch","z":"db33fcaa.611d88","name":"","label":"Role6 On/Off","group":"7d833e9c.6c4c18","order":8,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"role6","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":1772.5118103027344,"y":879.488037109375,"wires":[["fa50d029.8a35a8"]]},{"id":"e28ba464.0dbfd8","type":"ui_switch","z":"db33fcaa.611d88","name":"","label":"Role7 On/Off","group":"7d833e9c.6c4c18","order":9,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"role7","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":1772.5118103027344,"y":920.488037109375,"wires":[["fa50d029.8a35a8"]]},{"id":"6656e780.ce9cf8","type":"ui_switch","z":"db33fcaa.611d88","name":"","label":"Role8 On/Off","group":"7d833e9c.6c4c18","order":10,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"role8","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":1772.5118103027344,"y":959.488037109375,"wires":[["fa50d029.8a35a8"]]},{"id":"7037e201.cf580c","type":"ui_dropdown","z":"db33fcaa.611d88","name":"","label":"Led Start Time","place":"Select option","group":"7d833e9c.6c4c18","order":11,"width":0,"height":0,"passthru":true,"options":[{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"},{"label":"03","value":"03","type":"str"},{"label":"04","value":"04","type":"str"},{"label":"05","value":"05","type":"str"},{"label":"06","value":"06","type":"str"},{"label":"07","value":"07","type":"str"},{"label":"08","value":"08","type":"str"},{"label":"09","value":"09","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"}],"payload":"","topic":"ledstart","x":1790,"y":564.1666870117188,"wires":[[]]},{"id":"5cb1edc1.469f84","type":"function","z":"db33fcaa.611d88","name":"","func":"msg.topic=\"select data_code,data_value from current_values\";\nmsg.payload =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1177.0118103027344,"y":742.9166259765625,"wires":[["7af39074.49ce"]]},{"id":"7af39074.49ce","type":"mysql","z":"db33fcaa.611d88","mydb":"21f0e86a.0159c","name":"db","x":1322.3334045410156,"y":743.1666259765625,"wires":[["48ba87f8.1b0af"]]},{"id":"4d740e4f.7ce63","type":"ui_dropdown","z":"db33fcaa.611d88","name":"","label":"Lights","place":"Select option","group":"7d833e9c.6c4c18","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"On","value":"on","type":"str"},{"label":"Off","value":"off","type":"str"}],"payload":"","topic":"ledstat","x":1759.1903991699219,"y":617.3095703125,"wires":[["fa50d029.8a35a8"]]},{"id":"16e73fa2.3bb4e","type":"ui_switch","z":"db33fcaa.611d88","name":"","label":"SpW Pump Auto","group":"7d833e9c.6c4c18","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"role1","style":"","onvalue":"auto","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":1784.6189880371094,"y":664.0234985351562,"wires":[["fa50d029.8a35a8"]]},{"id":"d35af0a5.edacd8","type":"ui_dropdown","z":"db33fcaa.611d88","name":"","label":"Heater","place":"Select option","group":"7d833e9c.6c4c18","order":4,"width":0,"height":0,"passthru":false,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"On","value":"on","type":"str"},{"label":"Off","value":"off","type":"str"}],"payload":"","topic":"role2","x":1753.9048767089844,"y":707.0237426757812,"wires":[["fa50d029.8a35a8"]]},{"id":"476081d5.e93bf8","type":"ui_dropdown","z":"db33fcaa.611d88","name":"","label":"Cooler Fan","place":"Select option","group":"7d833e9c.6c4c18","order":3,"width":0,"height":0,"passthru":false,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"On","value":"on","type":"str"},{"label":"Off","value":"off","type":"str"}],"payload":"","topic":"role3","x":1772.4761657714844,"y":750.023681640625,"wires":[["fa50d029.8a35a8"]]},{"id":"48ba87f8.1b0af","type":"function","z":"db33fcaa.611d88","name":"Parse values","func":"msg1={payload:msg.payload[10].data_value}; //lights\nmsg2={payload:msg.payload[1].data_value}; //SpW Pump\nmsg3={payload:msg.payload[2].data_value}; //Heater\nmsg4={payload:msg.payload[3].data_value}; //Cooler\nif (msg.payload[4].data_value==\"auto\")//motor1\n{msg5={payload:msg.payload[4].data_value,enabled:false};}\nelse {msg5={payload:msg.payload[4].data_value,enabled:true};}\nif (msg.payload[5].data_value==\"auto\")//role5\n{msg6={payload:msg.payload[5].data_value,enabled:false};}\nelse {msg6={payload:msg.payload[5].data_value,enabled:true};}\nif (msg.payload[6].data_value==\"auto\")//role6\n{msg7={payload:msg.payload[6].data_value,enabled:false};}\nelse {msg7={payload:msg.payload[6].data_value,enabled:true};}\nif (msg.payload[7].data_value==\"auto\")//role7\n{msg8={payload:msg.payload[7].data_value,enabled:false};}\nelse {msg8={payload:msg.payload[7].data_value,enabled:true};}\nif (msg.payload[8].data_value==\"auto\")//role8\n{msg9={payload:msg.payload[8].data_value,enabled:false};}\nelse {msg9={payload:msg.payload[8].data_value,enabled:true};}\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8,msg9];","outputs":"9","noerr":0,"x":1484.3332214355469,"y":743.2381591796875,"wires":[["4d740e4f.7ce63"],["16e73fa2.3bb4e"],["d35af0a5.edacd8"],["476081d5.e93bf8"],["4d1dcdf4.a66764"],["96aeda6c.1ba218"],["6f9de9cd.b20f58"],["e28ba464.0dbfd8"],["6656e780.ce9cf8"]]},{"id":"888c9bc7.22846","type":"http request","z":"bb7ece05.5f24a","name":"ETA to Tevfiks office","method":"GET","ret":"obj","url":"https://maps.googleapis.com/maps/api/directions/json?origin=41.1082346,29.0307568&destination=40.999801,29.1963206&key=AIzaSyCftAFXLY38GhOaCtEbAZDM8JCN1GOlrrc","tls":"","x":387,"y":320,"wires":[["6fc8f58e.36527c"]]},{"id":"538159db.8786","type":"function","z":"bb7ece05.5f24a","name":"map values","func":"msg.payload.waytotg=msg.payload.tevfik.routes[0].summary;\nmsg.payload.durtotg=msg.payload.tevfik.routes[0].legs[0].duration.text;\nmsg.payload.waytoag=msg.payload.asiye.routes[0].summary;\nmsg.payload.durtoag=msg.payload.asiye.routes[0].legs[0].duration.text;\nreturn msg;\n","outputs":1,"noerr":0,"x":904,"y":358,"wires":[["93257e83.3637e"]]},{"id":"9bd80934.c2b5c8","type":"http request","z":"bb7ece05.5f24a","name":"ETA to Asiyes office","method":"GET","ret":"obj","url":"https://maps.googleapis.com/maps/api/directions/json?origin=41.1082346,29.0307568&destination=40.792198,29.4645453&key=AIzaSyCftAFXLY38GhOaCtEbAZDM8JCN1GOlrrc","tls":"","x":389,"y":396,"wires":[["7ccafdeb.1a94a4"]]},{"id":"6fc8f58e.36527c","type":"function","z":"bb7ece05.5f24a","name":"set topic","func":"msg.topic=\"tevfik\";\nreturn msg;","outputs":1,"noerr":0,"x":594,"y":320,"wires":[["aeea5d15.ca9808"]]},{"id":"aeea5d15.ca9808","type":"join","z":"bb7ece05.5f24a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","x":742,"y":359,"wires":[["538159db.8786"]]},{"id":"6ab32b05.0d6d4c","type":"inject","z":"bb7ece05.5f24a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150.28573608398438,"y":444.7142639160156,"wires":[["888c9bc7.22846","9bd80934.c2b5c8"]]},{"id":"7ccafdeb.1a94a4","type":"function","z":"bb7ece05.5f24a","name":"set topic","func":"msg.topic=\"asiye\";\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":397,"wires":[["aeea5d15.ca9808"]]},{"id":"7a8c50f7.41d048","type":"catch","z":"db33fcaa.611d88","name":"","scope":["89ea1ee1.4028c"],"x":477.61895751953125,"y":973.0953979492188,"wires":[["eab802f5.f9745","1c1f633.544159d"]]},{"id":"c1a63778.9c0458","type":"ui_toast","z":"db33fcaa.611d88","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":913.3330688476562,"y":984.5238647460938,"wires":[]},{"id":"eab802f5.f9745","type":"function","z":"db33fcaa.611d88","name":"","func":"var err=msg.error.message;\nmsg.payload= err;\nreturn msg;","outputs":1,"noerr":0,"x":677.6189575195312,"y":974.5239868164062,"wires":[["c1a63778.9c0458"]]},{"id":"1c1f633.544159d","type":"debug","z":"db33fcaa.611d88","name":"","active":true,"console":"false","complete":"false","x":626.9045104980469,"y":1050.0000610351562,"wires":[]},{"id":"ca1ec200.ec1308","type":"function","z":"db33fcaa.611d88","name":"F:Set values","func":"//var data=msg.payload.substring(4, 15);\n//msg.url = flow.get('akvaryumIP')+'/setvalues?'+msg.topic+\":\"+data;\nmsg.url = flow.get('akvaryumIP')+'/setvalues?'+\"ledstat:on\";\nreturn msg;","outputs":1,"noerr":0,"x":1948.8332214355469,"y":1033.683349609375,"wires":[["89ea1ee1.4028c"]]},{"id":"1fb73034.ad59a","type":"inject","z":"db33fcaa.611d88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1675.099853515625,"y":1054.5833740234375,"wires":[["ca1ec200.ec1308"]]},{"id":"ffb60429.919598","type":"debug","z":"db33fcaa.611d88","name":"","active":true,"console":"false","complete":"false","x":929.7617797851562,"y":818.761962890625,"wires":[]},{"id":"df82bda5.22572","type":"http in","z":"db33fcaa.611d88","name":"","url":"/akvaryum","method":"post","upload":false,"swaggerDoc":"","x":475.71417236328125,"y":620.0000610351562,"wires":[["359fa66e.e7d70a","a2f1e75e.62fd38","51cec839.586c58"]]},{"id":"359fa66e.e7d70a","type":"debug","z":"db33fcaa.611d88","name":"","active":false,"console":"false","complete":"payload","x":737.1427612304688,"y":481.4285888671875,"wires":[]},{"id":"51cec839.586c58","type":"function","z":"db33fcaa.611d88","name":"","func":"msg.topic=Date.now();\nmsg.payload=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":662.8570556640625,"y":360.0000305175781,"wires":[["8140a8ab.f6e6d"]]},{"id":"cc6ac479.b1d288","type":"function","z":"db33fcaa.611d88","name":"Dashboard Log","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\nvar data = {topic:\"\",payload:\"\"};\ndata.topic= msg.topic;\ndata.payload=msg.payload;\n\ndashboardLog.push(data);\nif (dashboardLog.length > 20){\n    // Delete oldest message if &gt; 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\n//msg = {};\nmsg.payload = dashboardLog;\nreturn msg;","outputs":1,"noerr":0,"x":1079.8570556640625,"y":363.0000305175781,"wires":[["4886d24f.0f72cc"]]},{"id":"4886d24f.0f72cc","type":"ui_template","z":"db33fcaa.611d88","group":"49b17ca4.7f5cf4","name":"Dashoard Log","order":2,"width":"6","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font> {{x.payload}}\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1314.8570556640625,"y":363.0000305175781,"wires":[[]]},{"id":"30362a18.ac91be","type":"Uptime","z":"2e9bdc0e.a39cd4","name":"","x":464.2857360839844,"y":352.8571472167969,"wires":[["5029961b.458d18"]]},{"id":"6f630783.807ae8","type":"Drives","z":"2e9bdc0e.a39cd4","name":"","x":454.57147216796875,"y":256.1428527832031,"wires":[["81affab6.1ffa4"]]},{"id":"348d3958.034726","type":"Memory","z":"2e9bdc0e.a39cd4","name":"","x":454.2857360839844,"y":438.57143293108254,"wires":[["b4285c2f.9eb5b8","a0bc87fd.f270d8"]]},{"id":"87666062.613d9","type":"NetworkIntf","z":"2e9bdc0e.a39cd4","name":"","x":467.14287894112726,"y":515.7142900739397,"wires":[["135db3c0.53f6ac"]]},{"id":"bdbf9f62.97dee","type":"inject","z":"2e9bdc0e.a39cd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":137.14287458147328,"y":181.4285583496095,"wires":[["a0e825bc.9728e"]]},{"id":"f38f655f.7476c8","type":"ui_gauge","z":"2e9bdc0e.a39cd4","name":"","group":"1b122d53.d52033","order":2,"width":0,"height":0,"gtype":"donut","title":"Root Disk","label":"%","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1037.1428440638952,"y":198.57144165039074,"wires":[]},{"id":"81affab6.1ffa4","type":"function","z":"2e9bdc0e.a39cd4","name":"","func":"var value = 0;\nvalue = (msg.payload[2].used*100)/msg.payload[2].size;\nmsg1={payload:value};\nvalue = (msg.payload[7].used*100)/msg.payload[7].size;\nmsg2={payload:value};\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":739.8570556640625,"y":292.9999084472656,"wires":[["f38f655f.7476c8"],["dba4132f.bf1f58"]]},{"id":"dba4132f.bf1f58","type":"ui_gauge","z":"2e9bdc0e.a39cd4","name":"","group":"1b122d53.d52033","order":3,"width":0,"height":0,"gtype":"donut","title":"Media Disk","label":"%","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1048.5715550013952,"y":245.71426391601574,"wires":[]},{"id":"366a2eca.38f702","type":"ui_gauge","z":"2e9bdc0e.a39cd4","name":"","group":"bf271f52.05f758","order":3,"width":0,"height":0,"gtype":"gage","title":"Memmory Usage","label":"%","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1051.4286106654577,"y":397.14285278320324,"wires":[]},{"id":"b4285c2f.9eb5b8","type":"function","z":"2e9bdc0e.a39cd4","name":"","func":"var value=0;\nmsg.payload=msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":744.571533203125,"y":399.0000305175781,"wires":[["366a2eca.38f702"]]},{"id":"a0e825bc.9728e","type":"ui_button","z":"2e9bdc0e.a39cd4","name":"","group":"582d6a56.b96174","order":4,"width":0,"height":0,"passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":194.28575788225453,"y":278.57144165039074,"wires":[["6f630783.807ae8","348d3958.034726","30362a18.ac91be","87666062.613d9","ab32e51.9062d98"]]},{"id":"d3501751.c8ac2","type":"ui_text","z":"2e9bdc0e.a39cd4","group":"582d6a56.b96174","order":3,"width":0,"height":0,"name":"","label":"LAN IP :","format":"{{msg.payload}}","layout":"row-spread","x":1044.2857883998327,"y":462.857147216797,"wires":[]},{"id":"135db3c0.53f6ac","type":"function","z":"2e9bdc0e.a39cd4","name":"","func":"var value=\"\";\nmsg1={payload:msg.payload.networkInterfaces.enp3s0[0].address};\nmsg2={payload:msg.payload.networkInterfaces.wlp2s0[0].address};\n\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":748.1429443359375,"y":461.2857666015625,"wires":[["d3501751.c8ac2"],["fab43b76.c25c78"]]},{"id":"fab43b76.c25c78","type":"ui_text","z":"2e9bdc0e.a39cd4","group":"582d6a56.b96174","order":2,"width":0,"height":0,"name":"","label":"WIFI IP :","format":"{{msg.payload}}","layout":"row-spread","x":1040.0001438685827,"y":512.857147216797,"wires":[]},{"id":"8ac1779.34fa988","type":"ui_text","z":"2e9bdc0e.a39cd4","group":"bf271f52.05f758","order":4,"width":0,"height":0,"name":"","label":"Up Time :","format":"{{msg.payload}}","layout":"row-spread","x":1024.2857883998327,"y":340.00003051757824,"wires":[]},{"id":"5029961b.458d18","type":"function","z":"2e9bdc0e.a39cd4","name":"","func":"\nvar value = Math.floor(msg.payload.uptime/86400)+\" Days \";\nvalue = value + Math.floor(((msg.payload.uptime)%86400)/3600)+ \" Hours \" ;\nvalue = value + Math.floor((((msg.payload.uptime)%86400)%3600)/60)+ \" Minutes \"  ;\nvalue = value + ((((msg.payload.uptime)%86400)%3600)%60)+ \" Seconds \"  ;\nmsg.payload= value;\nreturn msg;","outputs":1,"noerr":0,"x":744.2857883998327,"y":345.714324951172,"wires":[["8ac1779.34fa988"]]},{"id":"ab32e51.9062d98","type":"CPUs","z":"2e9bdc0e.a39cd4","name":"","x":464.2857971191406,"y":595.71435546875,"wires":[["34cb704e.8c29d"]]},{"id":"34cb704e.8c29d","type":"function","z":"2e9bdc0e.a39cd4","name":"","func":"var value = 0;\nvar totalval=0;\nvalue = msg.payload.cpus[0].times.user;\nvalue = value + msg.payload.cpus[0].times.nice;\nvalue = value + msg.payload.cpus[0].times.sys;\nvalue = (100*value)/(value + msg.payload.cpus[0].times.idle );\ntotalval=totalval+value;\nmsg1 = {payload: value.toFixed(2)};\nvalue = msg.payload.cpus[1].times.user;\nvalue = value + msg.payload.cpus[1].times.nice;\nvalue = value + msg.payload.cpus[1].times.sys;\nvalue = (100*value)/(value + msg.payload.cpus[1].times.idle );\ntotalval=totalval+value;\nmsg2 = {payload: value.toFixed(2)};\nvalue = msg.payload.cpus[2].times.user;\nvalue = value + msg.payload.cpus[2].times.nice;\nvalue = value + msg.payload.cpus[2].times.sys;\nvalue = (100*value)/(value + msg.payload.cpus[2].times.idle );\ntotalval=totalval+value;\nmsg3 = {payload: value.toFixed(2)};\nvalue = msg.payload.cpus[3].times.user;\nvalue = value + msg.payload.cpus[3].times.nice;\nvalue = value + msg.payload.cpus[3].times.sys;\nvalue = (100*value)/(value + msg.payload.cpus[3].times.idle );\ntotalval=totalval+value;\nmsg4 = {payload: value.toFixed(2)};\nmsg5 = {payload: (totalval/4).toFixed(2)};\nreturn [msg1,msg2,msg3,msg4,msg5];","outputs":"5","noerr":0,"x":751.8572387695312,"y":592.2857055664062,"wires":[["39c1cc2e.5f8c6c"],["e782df68.041c9"],["f62f49cf.443ec"],["49cbdd52.30a184"],["39261190.2454a6"]]},{"id":"39c1cc2e.5f8c6c","type":"ui_gauge","z":"2e9bdc0e.a39cd4","name":"","group":"adb16e71.efa118","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":971.4285278320312,"y":610,"wires":[]},{"id":"e782df68.041c9","type":"ui_gauge","z":"2e9bdc0e.a39cd4","name":"","group":"adb16e71.efa118","order":3,"width":0,"height":0,"gtype":"gage","title":"CPU 2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":971.4285888671875,"y":654.2857666015625,"wires":[]},{"id":"f62f49cf.443ec","type":"ui_gauge","z":"2e9bdc0e.a39cd4","name":"","group":"864d1051.6dbfc","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU 3","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":971.4285888671875,"y":695.7142944335938,"wires":[]},{"id":"49cbdd52.30a184","type":"ui_gauge","z":"2e9bdc0e.a39cd4","name":"","group":"864d1051.6dbfc","order":3,"width":0,"height":0,"gtype":"gage","title":"CPU 4","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":975.7142333984375,"y":740.0000610351562,"wires":[]},{"id":"39261190.2454a6","type":"ui_gauge","z":"2e9bdc0e.a39cd4","name":"","group":"bf271f52.05f758","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":997.142822265625,"y":787.1428833007812,"wires":[]},{"id":"868e402a.a0fc28","type":"http in","z":"6f64f264.4c289c","name":"","url":"/homedata","method":"post","upload":false,"swaggerDoc":"","x":458.25006103515625,"y":239.25,"wires":[["16e212d2.bb6145","62b9f252.22208c","fef9b03.ab63ad","5a69a7a.1e1b7d8","62a7baaa.e97a54","96a1776d.039148","dd710043.ab9d1"]]},{"id":"16e212d2.bb6145","type":"debug","z":"6f64f264.4c289c","name":"","active":true,"console":"false","complete":"false","x":717.2500610351562,"y":200.25,"wires":[]},{"id":"846d6e95.e7c838","type":"ui_chart","z":"6f64f264.4c289c","name":"","group":"e0e7bd05.c37198","order":7,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1017.2500610351562,"y":240.25,"wires":[[],[]]},{"id":"62b9f252.22208c","type":"function","z":"6f64f264.4c289c","name":"","func":"var data = msg.payload.temperature;\nmsg.topic=\"Temperature\"\nmsg.payload= data;\nreturn msg;","outputs":1,"noerr":0,"x":837.2500610351562,"y":240.25,"wires":[["846d6e95.e7c838"]]},{"id":"fef9b03.ab63ad","type":"function","z":"6f64f264.4c289c","name":"","func":"var data = msg.payload.humidity;\nmsg.topic=\"Humidity\"\nmsg.payload= data;\nreturn msg;","outputs":1,"noerr":0,"x":837.2500610351562,"y":288.25,"wires":[["968742ba.ef6ce"]]},{"id":"968742ba.ef6ce","type":"ui_chart","z":"6f64f264.4c289c","name":"","group":"e0e7bd05.c37198","order":8,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1007.2500610351562,"y":288.25,"wires":[[],[]]},{"id":"5a69a7a.1e1b7d8","type":"function","z":"6f64f264.4c289c","name":"","func":"var data = msg.payload.ldrvoltage;\nmsg.topic=\"LDR Voltage\"\nmsg.payload= data;\nreturn msg;","outputs":1,"noerr":0,"x":837.2500610351562,"y":328.25,"wires":[["130cb848.0f8288"]]},{"id":"130cb848.0f8288","type":"ui_chart","z":"6f64f264.4c289c","name":"","group":"e0e7bd05.c37198","order":9,"width":0,"height":0,"label":"LDR Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1017.2500610351562,"y":328.25,"wires":[[],[]]},{"id":"613a06ba.e373d","type":"http in","z":"6f64f264.4c289c","name":"","url":"/homeevent","method":"post","upload":false,"swaggerDoc":"","x":457.25006103515625,"y":140.25,"wires":[["62a7baaa.e97a54","745b5597.6f8994","16e212d2.bb6145"]]},{"id":"6fd0c9b9.5847e8","type":"function","z":"6f64f264.4c289c","name":"","func":"msg.payload=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":837.2500610351562,"y":160.25,"wires":[["600b4aee.28f3dc"]]},{"id":"745b5597.6f8994","type":"switch","z":"6f64f264.4c289c","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"cont","v":"alert","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":677.2500610351562,"y":140.25,"wires":[["de1af702.e859f"],["6fd0c9b9.5847e8"]]},{"id":"de1af702.e859f","type":"function","z":"6f64f264.4c289c","name":"","func":"msg.payload=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":837.2500610351562,"y":120.25,"wires":[["600b4aee.28f3dc"]]},{"id":"600b4aee.28f3dc","type":"ui_template","z":"6f64f264.4c289c","group":"e0e7bd05.c37198","name":"Motion Status","order":2,"width":"6","height":"1","format":"<!DOCTYPE html>\n <button type=\"button\" style=\"border: none;border-radius: 12px;background-color:{{msg.payload}}\">Motion Detector</button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1027.2500610351562,"y":140.25,"wires":[[]]},{"id":"96a1776d.039148","type":"switch","z":"6f64f264.4c289c","name":"","property":"payload.relay1","propertyType":"msg","rules":[{"t":"cont","v":"off","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":697.2500610351562,"y":400.25,"wires":[["1dab1ca1.492b13"],["b0525bac.2784c8"]]},{"id":"1dab1ca1.492b13","type":"function","z":"6f64f264.4c289c","name":"","func":"msg.payload=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":837.2500610351562,"y":380.25,"wires":[["8f19f408.35b958"]]},{"id":"b0525bac.2784c8","type":"function","z":"6f64f264.4c289c","name":"","func":"msg.payload=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":837.2500610351562,"y":420.25,"wires":[["8f19f408.35b958"]]},{"id":"8f19f408.35b958","type":"ui_template","z":"6f64f264.4c289c","group":"e0e7bd05.c37198","name":"Relay1 Status","order":3,"width":"6","height":"1","format":"<!DOCTYPE html>\n <button type=\"button\" style=\"border: none;border-radius: 12px;background-color:{{msg.payload}}\">Relay1</button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1027.2500610351562,"y":400.25,"wires":[[]]},{"id":"dd710043.ab9d1","type":"switch","z":"6f64f264.4c289c","name":"","property":"payload.relay2","propertyType":"msg","rules":[{"t":"cont","v":"off","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":697.2500610351562,"y":480.25,"wires":[["7217ee6c.ff0ce"],["180ddb2d.c13b95"]]},{"id":"7217ee6c.ff0ce","type":"function","z":"6f64f264.4c289c","name":"","func":"msg.payload=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":837.2500610351562,"y":460.25,"wires":[["35a5dc58.abf634"]]},{"id":"180ddb2d.c13b95","type":"function","z":"6f64f264.4c289c","name":"","func":"msg.payload=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":837.2500610351562,"y":500.25,"wires":[["35a5dc58.abf634"]]},{"id":"35a5dc58.abf634","type":"ui_template","z":"6f64f264.4c289c","group":"e0e7bd05.c37198","name":"Relay2 Status","order":4,"width":"6","height":"1","format":"<!DOCTYPE html>\n <button type=\"button\" style=\"border: none;border-radius: 12px;background-color:{{msg.payload}}\">Relay2</button> \n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1027.2500610351562,"y":480.25,"wires":[[]]},{"id":"e9444ef4.2c355","type":"ui_switch","z":"6f64f264.4c289c","name":"","label":"Relay 1","group":"e0e7bd05.c37198","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":526.2500610351562,"y":838.7500610351562,"wires":[["5fe36e07.7a4b7"]]},{"id":"52ff83b2.f89afc","type":"http request","z":"6f64f264.4c289c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1249.25,"y":804.7499389648438,"wires":[["4a02e870.8de5c8"]]},{"id":"4a02e870.8de5c8","type":"debug","z":"6f64f264.4c289c","name":"","active":true,"console":"false","complete":"false","x":1451.25,"y":866.7500610351562,"wires":[]},{"id":"38a8d468.759afc","type":"http request","z":"6f64f264.4c289c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1249.25,"y":844.7499389648438,"wires":[["4a02e870.8de5c8"]]},{"id":"5fe36e07.7a4b7","type":"switch","z":"6f64f264.4c289c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":676.2500610351562,"y":838.7500610351562,"wires":[["9d5e68e.a15d318"],["d4893963.0a7bc8"]]},{"id":"928e494b.74b328","type":"ui_switch","z":"6f64f264.4c289c","name":"","label":"Relay 2","group":"e0e7bd05.c37198","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":518.7500610351562,"y":907.5000610351562,"wires":[["2516bc6c.1066d4"]]},{"id":"9af82708.c3d178","type":"http request","z":"6f64f264.4c289c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1251.75,"y":902.9999389648438,"wires":[["4a02e870.8de5c8"]]},{"id":"6866a745.d466a8","type":"http request","z":"6f64f264.4c289c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1251.75,"y":942.9999389648438,"wires":[["4a02e870.8de5c8"]]},{"id":"2516bc6c.1066d4","type":"switch","z":"6f64f264.4c289c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":668.7500610351562,"y":907.5000610351562,"wires":[["331a7bae.c12024"],["a1293aab.669e1"]]},{"id":"e283c3ac.8dea18","type":"inject","z":"6f64f264.4c289c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":188.99998474121094,"y":866.5,"wires":[["6a26301c.932fc8"]]},{"id":"6a26301c.932fc8","type":"function","z":"6f64f264.4c289c","name":"","func":"msg.enabled=true;\nreturn msg;","outputs":1,"noerr":0,"x":354.99998474121094,"y":867.5,"wires":[["e9444ef4.2c355","928e494b.74b328"]]},{"id":"ca545e13.93ff38","type":"function","z":"dcd697f2.21c25","name":"","func":"msg.payload=\"Giriş Camera Motion detected : \"+Date();\nreturn msg;","outputs":1,"noerr":0,"x":604,"y":66,"wires":[["11140bb7.d4be6c"]]},{"id":"11140bb7.d4be6c","type":"slack-send","z":"dcd697f2.21c25","name":"","channel":"#general","slack":"4558d54b.31c444","x":792,"y":65,"wires":[]},{"id":"a71cc0be.4242e8","type":"ui_switch","z":"dcd697f2.21c25","name":"","label":"Alarm Status","group":"fb400294.d5b6d","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":248,"y":29,"wires":[["f6fc3c2c.14fac8"]]},{"id":"f6fc3c2c.14fac8","type":"function","z":"dcd697f2.21c25","name":"","func":"flow.set ('alarm_set',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":28,"wires":[[]]},{"id":"638f350b.cbe754","type":"switch","z":"dcd697f2.21c25","name":"","property":"alarm_set","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":361,"y":112,"wires":[["ca545e13.93ff38"],[]]},{"id":"eb199ed0.c7f99","type":"inject","z":"dcd697f2.21c25","name":"","topic":"","payload":"test234","payloadType":"str","repeat":"","crontab":"","once":false,"x":731,"y":140,"wires":[["11140bb7.d4be6c"]]},{"id":"fbde41db.45c508","type":"file","z":"324993be.bf1f34","name":"Write script file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":860,"y":140,"wires":[[]]},{"id":"6ba0bedd.4b8258","type":"exec","z":"324993be.bf1f34","command":"mktemp","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":420,"y":200,"wires":[["ee85dca1.dec69"],[],[]]},{"id":"5d6a0e9b.e81da8","type":"file","z":"324993be.bf1f34","name":"Delete script file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":1020,"y":480,"wires":[[]]},{"id":"7d5f6d85.d1d3cc","type":"exec","z":"324993be.bf1f34","command":" sh ","addpay":true,"append":"","useSpawn":"","timer":"","name":"Execute the shell script","x":690,"y":340,"wires":[["5d6a0e9b.e81da8"],[],[]]},{"id":"cb34613d.40b748","type":"exec","z":"324993be.bf1f34","command":"chmod +x ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1040,"y":200,"wires":[["d8f8c6bf.d045a"],[],[]]},{"id":"c79a4f5.ea05bb","type":"change","z":"324993be.bf1f34","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":200,"wires":[["6ba0bedd.4b8258"]]},{"id":"c559d165.321fa","type":"change","z":"324993be.bf1f34","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":200,"wires":[["cb34613d.40b748"]]},{"id":"ee85dca1.dec69","type":"function","z":"324993be.bf1f34","name":"","func":"msg.filename = msg.payload.trim();\nmsg.payload = msg.command;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["fbde41db.45c508","c559d165.321fa"]]},{"id":"d8f8c6bf.d045a","type":"change","z":"324993be.bf1f34","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["7d5f6d85.d1d3cc"]]},{"id":"39f46413.d93f0c","type":"comment","z":"324993be.bf1f34","name":"Execute shell script","info":"Execute the shell script in msg.payload.","x":130,"y":40,"wires":[]},{"id":"a0bc87fd.f270d8","type":"debug","z":"2e9bdc0e.a39cd4","name":"","active":true,"console":"false","complete":"false","x":710,"y":713,"wires":[]},{"id":"c78119be.6b72b8","type":"comment","z":"2e9bdc0e.a39cd4","name":"ToDo","info":"Shell command üzerinden dstat çalıştırp sonuçları \nekrana grafik olarak bassın","x":423,"y":93,"wires":[]},{"id":"419a8efa.ac89c","type":"exec","z":"68a21f36.432ee8","command":"/usr/bin/arping","addpay":true,"append":"-c 1 -I enp3s0 ","useSpawn":"true","timer":"","oldrc":false,"name":"","x":457,"y":306.5,"wires":[["73914336.024484"],[],[]]},{"id":"a9ceb093.3442","type":"inject","z":"68a21f36.432ee8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"x":152,"y":174,"wires":[["67d9393.5453fc8"]]},{"id":"67d9393.5453fc8","type":"function","z":"68a21f36.432ee8","name":"ip range","func":"var outputMsgs = [];\nfor (i=2;i<256;i++) {\n    outputMsgs.push({payload:\"192.168.1.\"+i});\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":267,"y":307,"wires":[["419a8efa.ac89c"]]},{"id":"73914336.024484","type":"function","z":"68a21f36.432ee8","name":"parse mac","func":"var macadd=\"\";\nvar startpos=0;\nvar endpos=0;\nstartpos=msg.payload.indexOf(\"[\")+1;\nif (startpos>0){\nmacadd= msg.payload.substr(startpos,17);}\nendpos=msg.payload.indexOf(\"from\")-1;\nipadd=msg.payload.substring(7,endpos);\nif (macadd.length >1){\nmsg = {topic:\"INSERT INTO home_registery (IP, MAC) VALUES('\"+ipadd+\"','\"+macadd+\"') ON DUPLICATE KEY UPDATE MAC='\"+macadd+\"';\"};}\nelse msg = {topic:null};\nreturn msg;","outputs":1,"noerr":0,"x":643,"y":293,"wires":[["69f91efe.783fb8"]]},{"id":"867cd85d.295ed","type":"debug","z":"68a21f36.432ee8","name":"","active":true,"console":"false","complete":"true","x":490,"y":437,"wires":[]},{"id":"8b927da6.3ce488","type":"mysql","z":"68a21f36.432ee8","mydb":"13f90f79.834d11","name":"db","x":341,"y":437,"wires":[["867cd85d.295ed"]]},{"id":"69f91efe.783fb8","type":"switch","z":"68a21f36.432ee8","name":"mac_exists","property":"topic","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":839,"y":292,"wires":[["8b927da6.3ce488"]]},{"id":"efd0b6f8.7dea28","type":"mysql","z":"6f64f264.4c289c","mydb":"13f90f79.834d11","name":"db","x":958.4999389648438,"y":802.2499389648438,"wires":[["da19f75b.d9ca8"]]},{"id":"9d5e68e.a15d318","type":"function","z":"6f64f264.4c289c","name":"Get IP","func":"msg = {topic:\"select IP from home_registery where MAC=(select MAC from home_devices where ALIAS='Room unit1')\"};\nreturn msg;","outputs":1,"noerr":0,"x":838.4999389648438,"y":802.2499389648438,"wires":[["efd0b6f8.7dea28"]]},{"id":"da19f75b.d9ca8","type":"function","z":"6f64f264.4c289c","name":"SET URL","func":"var IP =msg.payload[0].IP;\nmsg.url =\"http://\"+IP+\"/relay1=1\";\nreturn msg;","outputs":1,"noerr":0,"x":1085.4999389648438,"y":803.2499389648438,"wires":[["52ff83b2.f89afc"]]},{"id":"32eb6746.3ff66","type":"mysql","z":"6f64f264.4c289c","mydb":"13f90f79.834d11","name":"db","x":960.4999389648438,"y":845.2499389648438,"wires":[["ceb6bdbf.f83e78"]]},{"id":"d4893963.0a7bc8","type":"function","z":"6f64f264.4c289c","name":"Get IP","func":"msg = {topic:\"select IP from home_registery where MAC=(select MAC from home_devices where ALIAS='Room unit1')\"};\nreturn msg;","outputs":1,"noerr":0,"x":840.4999389648438,"y":845.2499389648438,"wires":[["32eb6746.3ff66"]]},{"id":"ceb6bdbf.f83e78","type":"function","z":"6f64f264.4c289c","name":"SET URL","func":"var IP =msg.payload[0].IP;\nmsg.url =\"http://\"+IP+\"/relay1=0\";\nreturn msg;","outputs":1,"noerr":0,"x":1087.4999389648438,"y":846.2499389648438,"wires":[["38a8d468.759afc"]]},{"id":"245b1976.91bfce","type":"mysql","z":"6f64f264.4c289c","mydb":"13f90f79.834d11","name":"db","x":957.75,"y":901.2499389648438,"wires":[["d5a1e091.bd68e"]]},{"id":"331a7bae.c12024","type":"function","z":"6f64f264.4c289c","name":"Get IP","func":"msg = {topic:\"select IP from home_registery where MAC=(select MAC from home_devices where ALIAS='Room unit1')\"};\nreturn msg;","outputs":1,"noerr":0,"x":837.75,"y":901.2499389648438,"wires":[["245b1976.91bfce"]]},{"id":"d5a1e091.bd68e","type":"function","z":"6f64f264.4c289c","name":"SET URL","func":"var IP =msg.payload[0].IP;\nmsg.url =\"http://\"+IP+\"/relay2=1\";\nreturn msg;","outputs":1,"noerr":0,"x":1084.75,"y":902.2499389648438,"wires":[["9af82708.c3d178"]]},{"id":"3e3849b1.bf22c6","type":"mysql","z":"6f64f264.4c289c","mydb":"13f90f79.834d11","name":"db","x":959.75,"y":942.2499389648438,"wires":[["488872d1.781c44"]]},{"id":"a1293aab.669e1","type":"function","z":"6f64f264.4c289c","name":"Get IP","func":"msg = {topic:\"select IP from home_registery where MAC=(select MAC from home_devices where ALIAS='Room unit1')\"};\nreturn msg;","outputs":1,"noerr":0,"x":839.75,"y":942.2499389648438,"wires":[["3e3849b1.bf22c6"]]},{"id":"488872d1.781c44","type":"function","z":"6f64f264.4c289c","name":"SET URL","func":"var IP =msg.payload[0].IP;\nmsg.url =\"http://\"+IP+\"/relay2=0\";\nreturn msg;","outputs":1,"noerr":0,"x":1086.75,"y":943.2499389648438,"wires":[["6866a745.d466a8"]]},{"id":"f8d7f53a.f8084","type":"ui_form","z":"f90387de.a0616","name":"","label":"","group":"552a36a.7588e48","order":0,"width":0,"height":0,"options":[{"label":"Username","value":"username","type":"text","required":true},{"label":"Password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":110,"y":60,"wires":[["b5b18465.f71ab8"]]},{"id":"4826a1f9.33bcf8","type":"ui_ui_control","z":"f90387de.a0616","name":"","x":740,"y":560,"wires":[[]]},{"id":"3dde0c18.a9cdfc","type":"ui_button","z":"f90387de.a0616","name":"AquariumControl","group":"44600724.dbc2","order":0,"width":0,"height":0,"passthru":false,"label":"AquariumControl","color":"","bgcolor":"","icon":"","payload":"AquariumControl","payloadType":"str","topic":"","x":257,"y":217,"wires":[["4826a1f9.33bcf8"]]},{"id":"b5b18465.f71ab8","type":"function","z":"f90387de.a0616","name":"","func":"if (msg.payload.username==\"tevfik\" & msg.payload.password==\"1234\")\n{\nmsg.payload=\"Main\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["4826a1f9.33bcf8","1002a557.9aef53"]]},{"id":"87956404.961588","type":"ui_button","z":"f90387de.a0616","name":"Aquarium Reports","group":"44600724.dbc2","order":0,"width":0,"height":0,"passthru":false,"label":"Aquarium Reports","color":"","bgcolor":"","icon":"","payload":"Aquarium Reports","payloadType":"str","topic":"","x":259,"y":269,"wires":[["4826a1f9.33bcf8"]]},{"id":"86b8aeff.9d3c48","type":"ui_button","z":"f90387de.a0616","name":"Home Security","group":"44600724.dbc2","order":0,"width":0,"height":0,"passthru":false,"label":"Home Security","color":"","bgcolor":"","icon":"","payload":"Home Security","payloadType":"str","topic":"","x":251,"y":320,"wires":[["4826a1f9.33bcf8"]]},{"id":"13596692.6a96a1","type":"ui_button","z":"f90387de.a0616","name":"My Home","group":"44600724.dbc2","order":0,"width":0,"height":0,"passthru":false,"label":"My Home","color":"","bgcolor":"","icon":"","payload":"My Home","payloadType":"str","topic":"","x":232,"y":373,"wires":[["4826a1f9.33bcf8"]]},{"id":"ec04196.f910068","type":"ui_button","z":"f90387de.a0616","name":"VIVO","group":"44600724.dbc2","order":0,"width":0,"height":0,"passthru":false,"label":"VIVO","color":"","bgcolor":"","icon":"","payload":"VIVO","payloadType":"str","topic":"","x":225,"y":421,"wires":[["4826a1f9.33bcf8"]]},{"id":"1002a557.9aef53","type":"debug","z":"f90387de.a0616","name":"","active":true,"console":"false","complete":"false","x":710,"y":120,"wires":[]},{"id":"3010ac6a.2f213c","type":"ui_button","z":"f90387de.a0616","name":"","group":"6d069e2a.3620f8","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":500,"wires":[["4826a1f9.33bcf8"]]},{"id":"bf693e9f.34a19","type":"ui_button","z":"f90387de.a0616","name":"","group":"7d833e9c.6c4c18","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":540,"wires":[["4826a1f9.33bcf8"]]},{"id":"ca02c8c2.530928","type":"ui_button","z":"f90387de.a0616","name":"","group":"49b17ca4.7f5cf4","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":580,"wires":[["4826a1f9.33bcf8"]]},{"id":"627bfd4a.cd8f8c","type":"ui_button","z":"f90387de.a0616","name":"","group":"86608d60.bf664","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":660,"wires":[["4826a1f9.33bcf8"]]},{"id":"674c7951.e77e18","type":"ui_button","z":"f90387de.a0616","name":"","group":"fb400294.d5b6d","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":720,"wires":[["4826a1f9.33bcf8"]]},{"id":"11de42c9.981825","type":"ui_button","z":"f90387de.a0616","name":"","group":"47575e9f.4e8f88","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":760,"wires":[["4826a1f9.33bcf8"]]},{"id":"82832905.67e63","type":"ui_button","z":"f90387de.a0616","name":"","group":"f142677d.43e258","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":840,"wires":[["4826a1f9.33bcf8"]]},{"id":"65ab661a.e8b148","type":"ui_button","z":"f90387de.a0616","name":"","group":"e0e7bd05.c37198","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":880,"wires":[["4826a1f9.33bcf8"]]},{"id":"b5f1b57a.90fc88","type":"ui_button","z":"f90387de.a0616","name":"","group":"9c8f6a39.4f654","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":920,"wires":[["4826a1f9.33bcf8"]]},{"id":"ea1fd256.3df4c","type":"ui_button","z":"f90387de.a0616","name":"","group":"1b122d53.d52033","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":1000,"wires":[["4826a1f9.33bcf8"]]},{"id":"929b0b27.b052e","type":"ui_button","z":"f90387de.a0616","name":"","group":"bf271f52.05f758","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":1040,"wires":[["4826a1f9.33bcf8"]]},{"id":"5244bfc7.08f6b","type":"ui_button","z":"f90387de.a0616","name":"","group":"adb16e71.efa118","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":1080,"wires":[["4826a1f9.33bcf8"]]},{"id":"68379a62.e0e4f4","type":"ui_button","z":"f90387de.a0616","name":"","group":"864d1051.6dbfc","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":1120,"wires":[["4826a1f9.33bcf8"]]},{"id":"38314756.c47b18","type":"ui_button","z":"f90387de.a0616","name":"","group":"582d6a56.b96174","order":1,"width":0,"height":0,"passthru":false,"label":"Main","color":"","bgcolor":"","icon":"","payload":"Main","payloadType":"str","topic":"","x":230,"y":1160,"wires":[["4826a1f9.33bcf8"]]},{"id":"5ec007f3.945f4","type":"inject","z":"7c48a4a8.213264","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210,"y":240,"wires":[["d9dcf777.657a78"]]},{"id":"dcc9a8bd.73ff68","type":"debug","z":"7c48a4a8.213264","name":"output","active":true,"tosidebar":true,"console":false,"complete":"true","x":802,"y":168,"wires":[]},{"id":"558750c9.81674","type":"function","z":"7c48a4a8.213264","name":"timeConvert","func":"if ( !msg.payload ) msg.payload = Math.round(+new Date());\n\nvar dt = new Date(msg.payload);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":168,"wires":[["dcc9a8bd.73ff68"]]},{"id":"d9dcf777.657a78","type":"function","z":"7c48a4a8.213264","name":"set timestamp","func":"msg.timestamp=1376763133 * 1000;\nreturn msg;","outputs":1,"x":394,"y":240,"wires":[["558750c9.81674"]]},{"id":"ee59a923.57608","type":"inject","z":"7c48a4a8.213264","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210,"y":140,"wires":[["558750c9.81674"]]},{"id":"8140a8ab.f6e6d","type":"function","z":"db33fcaa.611d88","name":"timeConvert","func":"if ( !msg.topic ) msg.topic = Math.round(+new Date());\nvar dt = new Date(msg.topic);\nmsg.topic = dt.getDate()+\"/\"+(dt.getMonth()+1)+\"/\"+dt.getFullYear() +\" \"+ dt.getHours()+\":\"+dt.getMinutes()+\":\"+dt.getMilliseconds();\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":360,"wires":[["cc6ac479.b1d288"]]},{"id":"10ce244a.4871e4","type":"function","z":"6185cdf0.bf4b6c","name":"timeConvert","func":"if ( !msg.payload ) msg.payload = Math.round(+new Date());\nvar dt = new Date(msg.payload);\nmsg.payload = dt.getDate()+\"/\"+(dt.getMonth()+1)+\"/\"+dt.getFullYear() +\" \"+ dt.getHours()+\":\"+dt.getMinutes()+\":\"+dt.getMilliseconds();\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["7ae796e1.0fa3d8"]]},{"id":"6419c13e.16c808","type":"function","z":"6185cdf0.bf4b6c","name":"timeConvert","func":"if ( !msg.payload ) msg.payload = Math.round(+new Date());\nvar dt = new Date(msg.payload);\nmsg.payload = dt.getDate()+\"/\"+(dt.getMonth()+1)+\"/\"+dt.getFullYear() +\" \"+ dt.getHours()+\":\"+dt.getMinutes()+\":\"+dt.getMilliseconds();\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":320,"wires":[["e7299ecc.c39098"]]},{"id":"ea0c608.760202","type":"function","z":"dcd697f2.21c25","name":"timeConvert","func":"if ( !msg.payload ) msg.payload = Math.round(+new Date());\nvar dt = new Date(msg.payload);\nmsg.payload = dt.getDate()+\"/\"+(dt.getMonth()+1)+\"/\"+dt.getFullYear() +\" \"+ dt.getHours()+\":\"+dt.getMinutes()+\":\"+dt.getMilliseconds();\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["82e511d0.86b8d"]]}]